Repository magley/untitled-scada-project, pull requests merged in 2023-07, with the labels that each got.

#21 2.1 output tags
  USca/DbManager/Tags/AddTag.xaml
  USca/DbManager/Tags/TagAddDTO.cs
  USca/DbManager/Tags/TagDTO.cs
  USca/DbManager/Tags/TagService.cs
  USca/DbManager/Tags/TagsDashboard.xaml
  USca/USca-Server/Shared/ServerDbContext.cs
  USca/USca-Server/Tags/ITagService.cs
  USca/USca-Server/Tags/OutputTagValueDTO.cs
  USca/USca-Server/Tags/Tag.cs
  USca/USca-Server/Tags/TagAddDTO.cs
  USca/USca-Server/Tags/TagController.cs
  USca/USca-Server/Tags/TagDTO.cs
  USca/USca-Server/Tags/TagService.cs
  USca/USca_RTU/MainWindow.xaml
  USca/USca_RTU/MainWindow.xaml.cs
  USca/USca_RTU/Processor/Simulator.cs
  USca/USca_RTU/Tag/OutputTagValueDTO.cs
  USca/USca_RTU/Tag/TagService.cs
  USca/USca_RTU/USca_RTU.csproj
Labels: DBManager, RTU, Core

#27 Active alarm display
  USca/DbManager/Alarms/AlarmDTO.cs
  USca/DbManager/Tags/TagAddDTO.cs
  USca/USca-Server/Alarms/ActiveAlarmDTO.cs
  USca/USca-Server/Alarms/Alarm.cs
  USca/USca-Server/Alarms/AlarmController.cs
  USca/USca-Server/Alarms/AlarmLog.cs
  USca/USca-Server/Alarms/AlarmService.cs
  USca/USca-Server/Alarms/IAlarmService.cs
  USca/USca-Server/Shared/ServerDbContext.cs
  USca/USca-Server/Tags/Tag.cs
  USca/USca-Server/Tags/TagWorker.cs
  USca/USca_AlarmDisplay/Alarm/ActiveAlarm.cs
  USca/USca_AlarmDisplay/Alarm/AlarmLogDTO.cs
  USca/USca_AlarmDisplay/Alarm/AlarmService.cs
  USca/USca_AlarmDisplay/AlarmAlerts.xaml
  USca/USca_AlarmDisplay/AlarmAlerts.xaml.cs
  USca/USca_AlarmDisplay/USca_AlarmDisplay.csproj
  USca/USca_RTU/Processor/SimulatorNew.cs
  USca/USca_Trending/App.xaml
  USca/USca_Trending/Tags/TagDTO.cs
  USca/USca_Trending/Tags/TagValues.xaml
  USca/USca_Trending/Tags/TagValues.xaml.cs
Labels: Alarm Display

#28 Logs, Config, Websocket enhancement
  .gitignore
  USca/DbManager/Alarms/AlarmService.cs
  USca/DbManager/Tags/TagService.cs
  USca/USca-Server/Alarms/AlarmLog.cs
  USca/USca-Server/Alarms/AlarmService.cs
  USca/USca-Server/Measures/MeasureService.cs
  USca/USca-Server/Shared/ServerDbContext.cs
  USca/USca-Server/Shared/SocketWorker.cs
  USca/USca-Server/TagLogs/TagLog.cs
  USca/USca-Server/TagLogs/TagLogService.cs
  USca/USca-Server/Tags/TagService.cs
  USca/USca-Server/Tags/TagWorker.cs
  USca/USca-Server/Users/UserService.cs
  USca/USca-Server/Util/LogHelper.cs
  USca/USca-Server/Util/ScadaConfig.cs
  USca/USca.sln
  USca/USca_AlarmDisplay/Alarm/AlarmService.cs
  USca/USca_AlarmDisplay/AlarmAlerts.xaml
  USca/USca_AlarmDisplay/AlarmAlerts.xaml.cs
  USca/USca_AlarmDisplay/USca_AlarmDisplay.csproj
  USca/USca_AlarmDisplay/Util/Converters.cs
  USca/USca_AlarmDisplay/Util/SocketMessageDTO.cs
  USca/USca_RTU/Processor/CommService.cs
  USca/USca_RTU/Tag/TagService.cs
  USca/USca_ReportManager/Util/TagLogService.cs
  USca/USca_Trending/Tags/TagValues.xaml.cs
  USca/USca_Trending/USca_Trending.csproj
  USca/USca_Trending/Util/SocketMessageDTO.cs
  USca/USca_WebSocketUtil/ClientWebSocketUtil.cs
  USca/USca_WebSocketUtil/USca_WebSocketUtil.csproj
Labels: Core
